

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

h1 {
  padding-left: 30px;
}

.welcomeTitle {
  z-index: 2;
  color: #35c9bccf;
  font-size: 30px;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
}
.welcomeTitle #inlineTitleDesign {
  color: rgb(103, 67, 222);
  font-weight: 900;
  font-size: 35px;
}


.images {
  margin-top: -150px;
}

.signupButton {
  z-index: 3;
}
.linkToLogin {
  z-index: 5;
  text-decoration: none;
}

.linkToSignup {
  text-decoration: none;
}