.wrapper {
  position: fixed;
  background-color: rgb(237, 245, 245);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-image: linear-gradient(326deg, #ce6161 0%, #3b0d15 50%);
}

.title {
  padding: 20px 0 20px 45px;
  z-index: 2;
  background-color: black;
  background-image: linear-gradient(147deg, #383333 0%, #181516 50%);
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
}
.title #inlineTitleDesign {
  color: rgb(103, 67, 222);
  font-weight: 900;
  font-size: 35px;
}

.searchBar {
  margin-top: 20px;
}

.pages {
  display: flex;
  justify-content: flex-end;
}

.searchResultsArea {
  margin-top: 20px;
}
