
#searchQuery {
    padding: 10px 10px 10px 25px;
    width: 30%;
    text-align: center;
    position: relative;
    display: block;
    font-weight: 15px;
    border-radius: 30px;
    outline: rgb(3, 22, 36);
    border: 1.5px rgb(50, 121, 168) solid;
    z-index: 3;
    top: 100px;
    margin: 0 auto;
}
#components-dropdown-demo-dropdown-button .ant-dropdown-button {
    margin: 0 8px 8px 0;
  }
  
#components-dropdown-demo-dropdown-button .ant-btn-group-rtl.ant-dropdown-button {
    margin: 0 0 8px 8px;
  }

