.loginInfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items:center;
    flex-direction:column;
    margin: 200px;
    height: 500px;
    #width: 50%;
    background-image: url("loginBackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;

}
h1 {
    color: rgb(43, 103, 199);
    font-family: 'Work Sans', serif;
    text-align: Center;
    padding: 30px 0 30px 0px;
    font-size: xx-large;
    background-color: rgba(6, 5, 1, 0.99);
    margin-bottom: 20px;
}
.lineBreak {
    width: 50%;
}

.LoginTextLabels{
    text-align: center;
    padding-bottom: 10px;
    color: rgb(6, 5, 1);
    font-family: "Yu Gothic Medium", sans-serif;
    font-size: x-large;
}

.LoginTextBoxes {
    padding: 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #060501;
    margin-bottom: 20px;
    align-items: center;
}

.submitLoginButton {
    align-content: center;
    border-radius: 15px;
    background-color: #060501;
    color: #ffffff;
    font-size: 16px;

}

.submitLoginButton:hover {
    align-content: center;
    border-radius: 15px;
    background-color: #060501;
    color: #09a1c7;
    font-size: 20px;
}