.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

.welcomeGrid {
  background-color: #282c34;
  overflow-x: hidden;
}
.header {
  padding-top: 1rem;
}
.welcomeTitle {
  padding-left: 3%;
  z-index: 2;
  color: #35c9bccf;
  font-size: 3rem;
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
}
.welcomeTitle #inlineTitleDesign {
  color: rgb(103, 67, 222);
  font-weight: 900;
  font-size: 2.5rem;
}

.loginButton {
  z-index: 1;
}

.images {
  position: absolute;
  left: 0;
  right: 0;
  top: -5.3rem;
}

.signupButton {
  justify-content: center;
  padding-top: 20rem;
  z-index: 3;
}
.linkToLogin {
  z-index: 5;
  text-decoration: none;
}

.linkToSignup {
  text-decoration: none;
}

.popularItems {
  padding-top: 100px;
}
.popularItemsLabel {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
  padding-bottom: 30px;
}
/*Add linear gradients here*/
.musicTitle {
  background: -webkit-linear-gradient(rgb(66, 112, 212), rgb(160, 48, 204));
}
.moviesTitle {
  background: -webkit-linear-gradient(rgb(229, 12, 236), rgb(180, 177, 5));
}

.popularItemsTitle {
  font-size: 3.5rem;
  padding-left: 20px;
  padding-right: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 57%;
  background-repeat: repeat;
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.popularItemsTitle:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}

.fire svg * {
  fill: url(#lgrad);
}
.fireIcon {
  font-size: 2.5rem;
}
.popularItemsList {
  overflow-x: auto;
  overflow-y: hidden;
}

.popularItemsList::-webkit-scrollbar-track {
  border-radius: 20px;
  background: transparent;
  width: 0px;
}
.popularItemsList::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: 0px;
  background-color: transparent;
  box-shadow: 0px;
}
